:root {
    --red: #950014;
    --off-white: #fbf7f8;
    --black: #090001;
}


/*-----RESPONSIVE GRID------*/

* {
    box-sizing: border-box;
}

header {
    background-color: var(--black);
    height: 5vh;
}

.header-text {
    color: var(--off-white);
}